body{
    margin: 0;
    align-items: center;
    height: 341.6vh;
}
.circle-wraper{
    position: fixed;
    top: 30%;
    left: 40%;
}
.circle{
    width: 300px;
        height: 300px;
        border: 20px solid gray;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}
.redCircle{
    width: 280px;
        height: 280px;
        border: 2vh solid red;
        border-radius: 100%;
        position: absolute;
        
}

.inside1{
    width: 280px;
    height: 280px;
    background-color: rgb(70, 9, 70);
    border-radius: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 34vh;
    left: 83.3vh;
}
li{
    list-style: none;
    position: relative;
    top: 16vh;
}
.inside2 {
    width: 280px;
    height: 280px;
    background-color: rgb(6, 117, 139);
    border-radius: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 100vh;
    left: 83.3vh;
}
.inside3 {
    width: 280px;
    height: 280px;
    background-color: salmon;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 200vh;
    left: 83.3vh;
}